.env
config.toml
Cargo.lock

target/

.DS_Store
.vscode


!.docker/grafana/plugins/
.docker/grafana/plugins/*
!.docker/grafana/plugins/nline-plotlyjs-panel/
!.docker/grafana/plugins/nline-plotlyjs-panel/**

